<!-- head section -->
<section class="content-top-margin page-title parallax3 parallax-fix">
    <div class="opacity-medium bg-black"></div>
    <img class="parallax-background-img" src="images/background_store.jpg"  alt=""/>
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-md-7 col-sm-12 wow fadeInUp" data-wow-duration="300ms">
                <!-- page title -->
                <h1 class="white-text">ONLINE STORE</h1>
                <!-- end page title -->
              <!-- page title tagline -->
                <span class="text-uppercase white-text xs-display-none">VIEW OUR INVENTORY.</span>
                <!-- end title tagline -->
            </div>
            <div class="col-lg-4 col-md-5 col-sm-12 breadcrumb text-uppercase wow fadeInUp xs-display-none" data-wow-duration="600ms">
                <div class="separator-line bg-white no-margin-lr sm-margin-top-two sm-margin-bottom-three no-margin-top xs-display-none"></div>
              <!-- breadcrumb -->
                <ul>
                    <li><a class="white-text" href="#">Home</a></li>
                    <li class="white-text">STORE</li>
                </ul>
                <!-- end breadcrumb -->
            </div>
        </div>
    </div>
</section>
<!-- end head section -->

<!-- content section -->
<section>
    <div class="container">
        <div class="row">
            <!-- sidebar  -->
            <div class="col-md-2 col-sm-4 sidebar">
                <!-- widget  -->
                <div class="widget">
                    <h5 class="widget-title font-alt">Categories</h5>
                    <div class="thin-separator-line bg-dark-gray no-margin-lr margin-ten"></div>
                    <div class="widget-body">
                        <ul class="category-list">
                            <li class="active"><a href="#">Readers<span>48</span></a></li>
                            <li><a href="#">Cards<span>25</span></a></li>
                            <li><a href="#">Printers<span>32</span></a></li>
                            <li><a href="#">CCTV Solutions<span>38</span></a></li>
                            <li><a href="#">T-Shirts<span>40</span></a></li>
                        </ul>
                    </div>
                </div>
                <!-- end widget  -->
                
                 <!-- widget  -->
                <div class="widget no-margin-bottom">
                    <h5 class="widget-title font-alt">Shop By Brand</h5>
                    <div class="thin-separator-line bg-dark-gray no-margin-lr margin-ten"></div>
                    <div class="widget-body">
                        <ul class="category-list">
                            <li class="active"><a href="#">Amuse Society<span>48</span></a></li>
                            <li><a href="#">Fingertec<span>25</span></a></li>
                            <li><a href="#">Yahoo<span>32</span></a></li>
                            <li><a href="#">Belkin<span>38</span></a></li>
                            <li><a href="#">Stuterns<span>40</span></a></li>
                            <li><a href="#">Cameo<span>28</span></a></li>
                            <li><a href="#">Ecote<span>28</span></a></li>
                        </ul>
                    </div>
                </div>
                <!-- end widget  -->
            </div>
            <!-- end sidebar  -->
            <div class="col-md-9 col-sm-8 col-md-offset-1">
                <div class="shorting clearfix xs-margin-top-three">
                    <div class="col-md-8 col-sm-7 grid-nav">
                        <p class="text-uppercase letter-spacing-1 sm-display-none">Showing 1–6 of 22 results</p>
                    </div>
                    <div class="col-md-3 col-sm-5 pull-right">
                        <div class="select-style input-round med-input shop-shorting no-border">
                            <select>
                                <option value="">Select sort by</option>
                                <option value="">By popularity</option>
                                <option value="">By rating</option>
                                <option value="">Price: low to high</option>
                                <option value="">Price: high to low</option>
                            </select>
                        </div>
                    </div>
                </div>
                <div class="product-listing margin-three">
                    <!-- shop item -->
                    <div class="col-md-12 col-sm-12 product-list margin-five">
                        <!-- product image -->
                        <div class="col-md-5 col-sm-12">
                            <a><img src="http://placehold.it/600x500" alt=""/></a>
                        </div>
                        <!-- end product image -->
                        <!-- product details -->
                        <div class="col-md-5 col-sm-12 margin-one sm-text-center">
                            <!-- product name -->
                            <span class="text-large text-uppercase font-weight-600 letter-spacing-2 black-text"><a href="shop-single-product.html">Product Name</a></span>
                            <!-- end product name -->
                            <!-- product stock -->
                            <p class="text-small text-uppercase letter-spacing-2 margin-two">BRAND</p>
                            <!-- end product stock -->
                            <div class="separator-line bg-black no-margin-lr margin-five sm-display-none"></div>
                            <!-- product short description -->
                            <p>Insert Product Description Here.
                            
                            <a class="highlight-button-dark btn btn-small popup-with-zoom-anim no-margin-bottom" href="#modal-popup2"><i class="icon-envelope"></i>ENQUIRE ABOUT THIS PRODUCT</a>
                              <div class="row">
                <!-- modal popup -->
                <div id="modal-popup2" class="zoom-anim-dialog mfp-hide col-lg-6 col-md-6 col-sm-7 col-xs-11 center-col bg-white text-center modal-popup-main">
                    <span class="slider-subtitle5 black-text no-margin-bottom">PRODUCT ENQUIRY</span>
                    <div class="col-md-9 col-sm-8 col-xs-11 center-col xs-no-padding">
                <form>
                    <div class="form-group no-margin-bottom">
                        <!-- label  -->
                        <label class="text-uppercase">Product Name</label>
                        <!-- end label  -->
                        <!-- input  -->
                        <input type="text" name="productname" id="productname" class="input-round med-input">
                        <!-- end input  -->
                    </div>
                    <div class="form-group no-margin-bottom">
                        <!-- label  -->
                        <label class="text-uppercase">Email</label>
                        <!-- end label  -->
                        <!-- input  -->
                        <input type="text" name="email" id="email" class="input-round med-input">
                        <!-- end input  -->
                    </div>
                    
                    <div class="form-group no-margin-bottom">
                        <!-- label  -->
                        <label class="text-uppercase">ENQUIRY</label>
                        <!-- end label  -->
                        <!-- input  -->
                        <textarea name="message" class="input-round med-input" id="message"></textarea>
                        <!-- end input  -->
                    </div>
                    <button class="btn highlight-button-dark btn-small btn-round margin-five no-margin-right" type="submit">Submit</button>
                </form>
            </div>
                </div>
                <!-- end modal popup -->
        </div>
                            </p>
                            <!-- end product short description -->
                            
                        </div>
                        <!-- end product details -->
                    </div>
                    <!-- end shop item -->
                     <!-- shop item -->
                    <div class="col-md-12 col-sm-12 product-list margin-five">
                        <!-- product image -->
                        <div class="col-md-5 col-sm-12">
                            <a><img src="http://placehold.it/600x500" alt=""/></a>
                        </div>
                        <!-- end product image -->
                        <!-- product details -->
                        <div class="col-md-5 col-sm-12 margin-one sm-text-center">
                            <!-- product name -->
                            <span class="text-large text-uppercase font-weight-600 letter-spacing-2 black-text"><a href="shop-single-product.html">Product Name</a></span>
                            <!-- end product name -->
                            <!-- product stock -->
                            <p class="text-small text-uppercase letter-spacing-2 margin-two">BRANDS</p>
                            <!-- end product stock -->
                            <div class="separator-line bg-black no-margin-lr margin-five sm-display-none"></div>
                            <!-- product short description -->
                            <p>Insert Product Description Here.
                            
                             
                
                            <a class="highlight-button-dark btn btn-small popup-with-zoom-anim no-margin-bottom" href="#modal-popup2"><i class="icon-envelope"></i>ENQUIRE ABOUT THIS PRODUCT</a>
                              <div class="row">
                <!-- modal popup -->
                <div id="modal-popup2" class="zoom-anim-dialog mfp-hide col-lg-6 col-md-6 col-sm-7 col-xs-11 center-col bg-white text-center modal-popup-main">
                    <span class="slider-subtitle5 black-text no-margin-bottom">PRODUCT ENQUIRY</span>
                    <div class="col-md-9 col-sm-8 col-xs-11 center-col xs-no-padding">
                <form>
                    <div class="form-group no-margin-bottom">
                        <!-- label  -->
                        <label class="text-uppercase">Product Name</label>
                        <!-- end label  -->
                        <!-- input  -->
                        <input type="text" name="productname" id="productname" class="input-round med-input">
                        <!-- end input  -->
                    </div>
                    <div class="form-group no-margin-bottom">
                        <!-- label  -->
                        <label class="text-uppercase">Email</label>
                        <!-- end label  -->
                        <!-- input  -->
                        <input type="text" name="email" id="email" class="input-round med-input">
                        <!-- end input  -->
                    </div>
                    
                    <div class="form-group no-margin-bottom">
                        <!-- label  -->
                        <label class="text-uppercase">ENQUIRY</label>
                        <!-- end label  -->
                        <!-- input  -->
                        <textarea name="message" class="input-round med-input" id="message"></textarea>
                        <!-- end input  -->
                    </div>
                    <button class="btn highlight-button-dark btn-small btn-round margin-five no-margin-right" type="submit">Submit</button>
                </form>
            </div>
                </div>
                <!-- end modal popup -->
        </div>
                
                            </p>
                            <!-- end product short description -->
                            
                        </div>
                        <!-- end product details -->
                    </div>
                    <!-- end shop item -->
                     <!-- shop item -->
                    <div class="col-md-12 col-sm-12 product-list margin-five">
                        <!-- product image -->
                        <div class="col-md-5 col-sm-12">
                            <a><img src="http://placehold.it/600x500" alt=""/></a>
                        </div>
                        <!-- end product image -->
                        <!-- product details -->
                        <div class="col-md-5 col-sm-12 margin-one sm-text-center">
                            <!-- product name -->
                            <span class="text-large text-uppercase font-weight-600 letter-spacing-2 black-text"><a href="shop-single-product.html">Product Name</a></span>
                            <!-- end product name -->
                            <!-- product stock -->
                            <p class="text-small text-uppercase letter-spacing-2 margin-two">BRAND</p>
                            <!-- end product stock -->
                            <div class="separator-line bg-black no-margin-lr margin-five sm-display-none"></div>
                            <!-- product short description -->
                            <p>Insert Product Description Here.
                            
                            <a class="highlight-button-dark btn btn-small popup-with-zoom-anim no-margin-bottom" href="#modal-popup2"><i class="icon-envelope"></i>ENQUIRE ABOUT THIS PRODUCT</a>
                              <div class="row">
                <!-- modal popup -->
                <div id="modal-popup2" class="zoom-anim-dialog mfp-hide col-lg-6 col-md-6 col-sm-7 col-xs-11 center-col bg-white text-center modal-popup-main">
                    <span class="slider-subtitle5 black-text no-margin-bottom">PRODUCT ENQUIRY</span>
                    <div class="col-md-9 col-sm-8 col-xs-11 center-col xs-no-padding">
                <form>
                    <div class="form-group no-margin-bottom">
                        <!-- label  -->
                        <label class="text-uppercase">Product Name</label>
                        <!-- end label  -->
                        <!-- input  -->
                        <input type="text" name="productname" id="productname" class="input-round med-input">
                        <!-- end input  -->
                    </div>
                    <div class="form-group no-margin-bottom">
                        <!-- label  -->
                        <label class="text-uppercase">Email</label>
                        <!-- end label  -->
                        <!-- input  -->
                        <input type="text" name="email" id="email" class="input-round med-input">
                        <!-- end input  -->
                    </div>
                    
                    <div class="form-group no-margin-bottom">
                        <!-- label  -->
                        <label class="text-uppercase">ENQUIRY</label>
                        <!-- end label  -->
                        <!-- input  -->
                        <textarea name="message" class="input-round med-input" id="message"></textarea>
                        <!-- end input  -->
                    </div>
                    <button class="btn highlight-button-dark btn-small btn-round margin-five no-margin-right" type="submit">Submit</button>
                </form>
            </div>
                </div>
                <!-- end modal popup -->
        </div>
                            </p>
                            <!-- end product short description -->
                            
                        </div>
                        <!-- end product details -->
                    </div>
                    <!-- end shop item -->
                     <!-- shop item -->
                    <div class="col-md-12 col-sm-12 product-list margin-five">
                        <!-- product image -->
                        <div class="col-md-5 col-sm-12">
                            <a><img src="http://placehold.it/600x500" alt=""/></a>
                        </div>
                        <!-- end product image -->
                        <!-- product details -->
                        <div class="col-md-5 col-sm-12 margin-one sm-text-center">
                            <!-- product name -->
                            <span class="text-large text-uppercase font-weight-600 letter-spacing-2 black-text"><a href="shop-single-product.html">Product Name</a></span>
                            <!-- end product name -->
                            <!-- product stock -->
                            <p class="text-small text-uppercase letter-spacing-2 margin-two">BRAND</p>
                            <!-- end product stock -->
                            <div class="separator-line bg-black no-margin-lr margin-five sm-display-none"></div>
                            <!-- product short description -->
                            <p>Insert Product Description Here.
                            
                            <a class="highlight-button-dark btn btn-small popup-with-zoom-anim no-margin-bottom" href="#modal-popup2"><i class="icon-envelope"></i>ENQUIRE ABOUT THIS PRODUCT</a>
                              <div class="row">
                <!-- modal popup -->
                <div id="modal-popup2" class="zoom-anim-dialog mfp-hide col-lg-6 col-md-6 col-sm-7 col-xs-11 center-col bg-white text-center modal-popup-main">
                    <span class="slider-subtitle5 black-text no-margin-bottom">PRODUCT ENQUIRY</span>
                    <div class="col-md-9 col-sm-8 col-xs-11 center-col xs-no-padding">
                <form>
                    <div class="form-group no-margin-bottom">
                        <!-- label  -->
                        <label class="text-uppercase">Product Name</label>
                        <!-- end label  -->
                        <!-- input  -->
                        <input type="text" name="productname" id="productname" class="input-round med-input">
                        <!-- end input  -->
                    </div>
                    <div class="form-group no-margin-bottom">
                        <!-- label  -->
                        <label class="text-uppercase">Email</label>
                        <!-- end label  -->
                        <!-- input  -->
                        <input type="text" name="email" id="email" class="input-round med-input">
                        <!-- end input  -->
                    </div>
                    
                    <div class="form-group no-margin-bottom">
                        <!-- label  -->
                        <label class="text-uppercase">ENQUIRY</label>
                        <!-- end label  -->
                        <!-- input  -->
                        <textarea name="message" class="input-round med-input" id="message"></textarea>
                        <!-- end input  -->
                    </div>
                    <button class="btn highlight-button-dark btn-small btn-round margin-five no-margin-right" type="submit">Submit</button>
                </form>
            </div>
                </div>
                <!-- end modal popup -->
        </div>
                            </p>
                            <!-- end product short description -->
                            
                        </div>
                        <!-- end product details -->
                    </div>
                    <!-- end shop item -->
                     <!-- shop item -->
                    <div class="col-md-12 col-sm-12 product-list margin-five">
                        <!-- product image -->
                        <div class="col-md-5 col-sm-12">
                            <a><img src="http://placehold.it/600x500" alt=""/></a>
                        </div>
                        <!-- end product image -->
                        <!-- product details -->
                        <div class="col-md-5 col-sm-12 margin-one sm-text-center">
                            <!-- product name -->
                            <span class="text-large text-uppercase font-weight-600 letter-spacing-2 black-text"><a href="shop-single-product.html">Product Name</a></span>
                            <!-- end product name -->
                            <!-- product stock -->
                            <p class="text-small text-uppercase letter-spacing-2 margin-two">BRAND</p>
                            <!-- end product stock -->
                            <div class="separator-line bg-black no-margin-lr margin-five sm-display-none"></div>
                            <!-- product short description -->
                            <p>Insert Product Description Here.
                            
                            <a class="highlight-button-dark btn btn-small popup-with-zoom-anim no-margin-bottom" href="#modal-popup2"><i class="icon-envelope"></i>ENQUIRE ABOUT THIS PRODUCT</a>
                              <div class="row">
                <!-- modal popup -->
                <div id="modal-popup2" class="zoom-anim-dialog mfp-hide col-lg-6 col-md-6 col-sm-7 col-xs-11 center-col bg-white text-center modal-popup-main">
                    <span class="slider-subtitle5 black-text no-margin-bottom">PRODUCT ENQUIRY</span>
                    <div class="col-md-9 col-sm-8 col-xs-11 center-col xs-no-padding">
                <form>
                    <div class="form-group no-margin-bottom">
                        <!-- label  -->
                        <label class="text-uppercase">Product Name</label>
                        <!-- end label  -->
                        <!-- input  -->
                        <input type="text" name="productname" id="productname" class="input-round med-input">
                        <!-- end input  -->
                    </div>
                    <div class="form-group no-margin-bottom">
                        <!-- label  -->
                        <label class="text-uppercase">Email</label>
                        <!-- end label  -->
                        <!-- input  -->
                        <input type="text" name="email" id="email" class="input-round med-input">
                        <!-- end input  -->
                    </div>
                    
                    <div class="form-group no-margin-bottom">
                        <!-- label  -->
                        <label class="text-uppercase">ENQUIRY</label>
                        <!-- end label  -->
                        <!-- input  -->
                        <textarea name="message" class="input-round med-input" id="message"></textarea>
                        <!-- end input  -->
                    </div>
                    <button class="btn highlight-button-dark btn-small btn-round margin-five no-margin-right" type="submit">Submit</button>
                </form>
            </div>
                </div>
                <!-- end modal popup -->
        </div>
                            </p>
                            <!-- end product short description -->
                            
                        </div>
                        <!-- end product details -->
                    </div>
                    <!-- end shop item -->
                     <!-- shop item -->
                    <div class="col-md-12 col-sm-12 product-list margin-five">
                        <!-- product image -->
                        <div class="col-md-5 col-sm-12">
                            <a><img src="http://placehold.it/600x500" alt=""/></a>
                        </div>
                        <!-- end product image -->
                        <!-- product details -->
                        <div class="col-md-5 col-sm-12 margin-one sm-text-center">
                            <!-- product name -->
                            <span class="text-large text-uppercase font-weight-600 letter-spacing-2 black-text"><a href="shop-single-product.html">Product Name</a></span>
                            <!-- end product name -->
                            <!-- product stock -->
                            <p class="text-small text-uppercase letter-spacing-2 margin-two">BRAND</p>
                            <!-- end product stock -->
                            <div class="separator-line bg-black no-margin-lr margin-five sm-display-none"></div>
                            <!-- product short description -->
                            <p>Insert Product Description Here.
                            
                            <a class="highlight-button-dark btn btn-small popup-with-zoom-anim no-margin-bottom" href="#modal-popup2"><i class="icon-envelope"></i>ENQUIRE ABOUT THIS PRODUCT</a>
                              <div class="row">
                <!-- modal popup -->
                <div id="modal-popup2" class="zoom-anim-dialog mfp-hide col-lg-6 col-md-6 col-sm-7 col-xs-11 center-col bg-white text-center modal-popup-main">
                    <span class="slider-subtitle5 black-text no-margin-bottom">PRODUCT ENQUIRY</span>
                    <div class="col-md-9 col-sm-8 col-xs-11 center-col xs-no-padding">
                <form>
                    <div class="form-group no-margin-bottom">
                        <!-- label  -->
                        <label class="text-uppercase">Product Name</label>
                        <!-- end label  -->
                        <!-- input  -->
                        <input type="text" name="productname" id="productname" class="input-round med-input">
                        <!-- end input  -->
                    </div>
                    <div class="form-group no-margin-bottom">
                        <!-- label  -->
                        <label class="text-uppercase">Email</label>
                        <!-- end label  -->
                        <!-- input  -->
                        <input type="text" name="email" id="email" class="input-round med-input">
                        <!-- end input  -->
                    </div>
                    
                    <div class="form-group no-margin-bottom">
                        <!-- label  -->
                        <label class="text-uppercase">ENQUIRY</label>
                        <!-- end label  -->
                        <!-- input  -->
                        <textarea name="message" class="input-round med-input" id="message"></textarea>
                        <!-- end input  -->
                    </div>
                    <button class="btn highlight-button-dark btn-small btn-round margin-five no-margin-right" type="submit">Submit</button>
                </form>
            </div>
                </div>
                <!-- end modal popup -->
        </div>
                            </p>
                            <!-- end product short description -->
                            
                        </div>
                        <!-- end product details -->
                    </div>
                    <!-- end shop item -->
                </div>
                <!-- pagination -->
                <div class="pagination margin-ten no-margin-bottom">
                    <a href="#"><img src="images/arrow-pre-small.png" alt=""/></a>
                    <a href="#" class="active">1</a>
                    <a href="#">2</a>
                    <a href="#">3</a>
                    <a href="#">4</a>
                    <a href="#">5</a>
                    <a href="#"><img src="images/arrow-next-small.png" alt=""/></a>
                </div>
                <!-- end pagination -->
            </div>
        </div>
    </div>
</section>
<!-- end content section -->

