<!-- head section -->
<section class="content-top-margin page-title parallax3 parallax-fix">
    <div class="opacity-medium bg-black"></div>
    <img class="parallax-background-img" src="images/backgroundheader_about.jpg"  alt=""/>
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-md-7 col-sm-12 wow fadeInUp" data-wow-duration="300ms">
                <!-- page title -->
                <h1 class="white-text">ABOUT INTACCESS CONSULTANTS</h1>
                <!-- end page title -->
                <!-- page title tagline -->
                <span class="text-uppercase white-text xs-display-none">Who We Are</span>
                <!-- end title tagline -->
            </div>
            <div class="col-lg-4 col-md-5 col-sm-12 breadcrumb text-uppercase wow fadeInUp xs-display-none" data-wow-duration="600ms">
                <div class="separator-line bg-white no-margin-lr sm-margin-top-two sm-margin-bottom-three no-margin-top xs-display-none"></div>
                <!-- breadcrumb -->
                <ul>
                    <li><a href="#" class="white-text">Home</a></li>
                    <li class="white-text"><a href="#" class="white-text">Who We Are</a></li>
                </ul>
                <!-- end breadcrumb -->
            </div>
        </div>
    </div>
</section>
<!-- end head section -->

<!-- content section -->
<section class="wow fadeIn">
    <div class="container">
        <div class="row">
            <!-- content  -->
            
            <div class="col-md-6 col-sm-12">
                <p class="text-large text-black margin-three no-margin-top">Intaccess Consultants Ltd is a management consulting firm majoring on management consultancy and project management using the methodologies ascribed to best practice; in the implementation of projects for organizations. </p>
                <p class="text-med">Intaccess Consultants Limited is a wholly owned Nigerian company. We work with top organizations across the private, public and social sectors. Our scale, scope and knowledge allow us to tackle problems that no one else can. We have in-depth functional and industry expertise as well as breadth of geographical reach. We are passionate about taking on enormous challenges that matter to our clients and often to the world at large. We work with our clients as we do with our colleagues. We build their capabilities and leadership skills at every level and every opportunity. We do this to help build internal support, tackle real issues, and reach practical recommendations. 
</p>

            </div>
            <div class="col-md-6 col-sm-12">
                <p class="text-med no-margin">We invest significant time and effort in developing and renewing a knowledge base that offers unique perspectives and insights to our clients. Knowledge development occurs within our eighteen industry practices, eight functional practices, and the Intaccess Global Institute. We relate our understanding of market and industry forces to develop long term macroeconomic perspectives.</p>
                <p class="text-med no-margin">
We draw our competitive strength from collaborations with global partnership firms in Europe, North America and Africa.
Clients benefit from our consultants’ varied skills through our cross-functional approach to assignment execution. We also ensure we empower clients with the knowledge and skills to continuously improve, long after we are gone.
We believe in Africa and its future and dedicate ourselves to achieving the African dream by actively seeking out alliances, partnerships and friendships throughout the continent.
We are proud to be in this generation where we are heading to make a change.

                </p>
            </div>
            <!-- end content  -->
        </div>
        
        
        
        <div class="wide-separator-line no-margin-lr"></div>
        <div class="row margin-five">
            <!-- content  -->
            <div class="col-md-6 col-sm-6 xs-margin-bottom-five">
                <p class="text-large font-weight-600 text-black margin-three no-margin-top">Our People</p>
                <p class="text-med no-margin">We function as one firm and as a team, bringing in the best who are experts in what they do from across the Country. The richness of our background gives Intaccess the array of expertise we need to undertake our clients’ most multifaceted problems. Our diversity yet oneness in goals makes us exceptional problem solvers. We bring logical curiosity and a passion for world shaping impact to each new challenge. We have in our team professionals from different fields of experience ranging from CCIE, CCNA, CCNP, Project Management (PMP) and SAP. This makes us stand out in various areas in which we operate.</p>
            </div>
            <div class="col-md-6 col-sm-6">
                <p class="text-large font-weight-600 text-black margin-three no-margin-top">Our Values</p>
                <p class="text-med no-margin">Our mission is to facilitate distinctive decision making for our clients, creating lasting and extensive improvements in their performance. Also we build a great firm that attracts, develops, excites, and retains outstanding people. We believe we are successful if our clients are successful. 
Providing solutions to the difficult problems of our clients requires help from the best people. We believe that the best people will be drawn to the opportunity to work on the hardest problems.  We build our firm around this confidence that we are problem solvers. These two parts of our mission reinforce each other and make our firm strong and enduring. 
</p>
            </div>
            <!-- end content  -->
        </div>
        
    </div>
</section>
<!-- end content section -->