<!-- head section -->
<section class="page-title parallax3 parallax-fix page-title-large">
    <div class="opacity-medium bg-black"></div>
    <img class="parallax-background-img" src="http://placehold.it/1920x1200" alt="" />
    <div class="container">
        <div class="row">
            <div class="col-md-12 col-sm-12 text-center animated fadeInUp">
                <div class="separator-line bg-yellow no-margin-top margin-four"></div>
                <!-- page title -->
                <h1 class="white-text">Page - Left Sidebar</h1>
                <!-- end page title -->
                <!-- page title tagline -->
                <span class="text-uppercase white-text">Lorem Ipsum is simply dummy text of the printing.</span>
                <!-- end title tagline -->
            </div>
        </div>
    </div>
</section>
<!-- end head section -->

<!-- content section -->
<section class="wow fadeIn">
    <div class="container">
        <div class="row">
            <!-- sidebar  -->
            <div class="col-md-3 col-sm-4 sidebar">
                <!-- widget  -->
                <div class="widget">
                    <h5 class="widget-title font-alt">More About Company</h5>
                    <div class="thin-separator-line bg-dark-gray no-margin-lr"></div>
                    <div class="widget-body">
                        <ul class="category-list">
                            <li><a href="services.html">eHealth</a></li>
                            <li><a href="services.html">eGovernment</a></li>
                            <li><a href="services.html">eEducation</a></li>
                            <li><a href="services.html">eSecurity</a></li>
                            <li><a href="services.html">eRetail consultancy </a></li>
                            <li><a href="services.html">eBusiness solutions/IT</a></li>
                        </ul>
                    </div>
                </div>
                <!-- end widget  -->
                 
                <!-- widget  -->
                <div class="widget no-margin-bottom">
                    <h5 class="widget-title font-alt">Text Widget</h5>
                    <div class="thin-separator-line bg-dark-gray no-margin-lr"></div>
                    <div class="widget-body">
                        <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s.</p>
                    </div>
                </div>
                <!-- end widget  -->
            </div>
            <!-- end sidebar  -->
            <!-- content  -->
            <div class="col-md-8 col-sm-8 col-md-offset-1 xs-margin-top-seven">
                <div class="clearfix">
                    <div class="col-md-6 col-sm-12 no-padding-left sm-no-padding">
                        <img src="http://placehold.it/800x500" alt=""/><br><br>
                        <p class="text-large text-black">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text.</p>
                        <div class="wide-separator-line no-margin-lr"></div>
                        <p class="text-med no-margin-bottom sm-margin-bottom-seven">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged.</p>
                    </div>
                    <div class="col-md-6 col-sm-12 no-padding-right sm-no-padding">
                        <img src="http://placehold.it/800x500" alt=""/><br><br>
                        <p class="text-large text-black">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text.</p>
                        <div class="wide-separator-line no-margin-lr"></div>
                        <p class="text-med no-margin-bottom">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged.</p>
                    </div>
                </div>
                <div class="clearfix">
                    <div class="blog-image bg-white margin-ten">
                        <!-- post details blockquote -->
                        <blockquote class="bg-gray">
                            <p>Reading is not only informed by what’s going on with us at that moment, but also governed by how our eyes and brains work to process information. What you see and what you’re experiencing as you read these words is quite different.</p>
                            <footer>Jason Santa Maria</footer>
                        </blockquote>
                        <!-- end post details blockquote -->
                    </div>
                </div>
                <div class="clearfix">
                    <div class="col-md-12 col-sm-12 no-padding">
                        <img src="http://placehold.it/1200x800" alt=""/>
                        <p class="text-large text-black margin-five">Optimized solutions for healthcare</p>
                        <div class="wide-separator-line no-margin-lr"></div>
                        <p class="text-med no-margin-bottom">Healthcare organizations are under heavy pressure to be more efficient, control escalating healthcare costs, reduce the ranks of the uninsured, improve quality of care and support innovative clinical research. Meaningful improvements in healthcare efficiency and quality will rely heavily on technologies that can improve the flow, integration and interpretation of data across the continuum of care. </p>
                        <p>
                        Intaccess products and Professional Services can help your organization
                        </p>
                        <ul class="flat-list text-med">
                        <li>Mobilize information from patient registration to the point of care</li>
                        <li>Securely access clinical data</li> 
                        <li>Accelerate innovation and research</li>
                        <li>Generate patient medical history without having to dig out old files and books</li> 
                        <li>Quickly identify health patterns from breakouts in a particular period</li>
                        <p>We enable real-time eligibility verification at admission, give clinicians and physicians secure access to patients’ clinical information via their Web portals and make it more feasible for health plans and providers to consolidate and analyze large amounts of data to speed research, improve care and reduce costs. We also help deliver the best care to patients by providing interactive solutions where the clinics are more efficient in handling patients through easily calling up medical histories and prompting treatment as soon as it is needed.</p>

                        </ul>
                        
                        <section class="wow fadeIn border-top">
    <div class="container">
        <div class="row">
            <div class="col-md-7 col-sm-10 center-col text-center margin-ten no-margin-top xs-margin-bottom-seven">
                <h6 class="no-margin-top margin-ten xs-margin-bottom-seven"><strong class="black-text">Tab Style #6</strong></h6>
            </div>
        </div>
        <div class="row">
            <!-- tab -->
            <div class="col-md-12 col-sm-12 center-col text-left" id="animated-tab">
                <!-- tab navigation -->
                <ul class="nav nav-tabs margin-five no-margin-top">
                    <li class="nav active"><a href="#tab6_sec1" data-toggle="tab"><span><i class="icon-tools"></i></span></a></li>
                    <li class="nav"><a href="#tab6_sec2" data-toggle="tab"><span><i class="icon-laptop"></i></span></a></li>
                    <li class="nav"><a href="#tab6_sec3" data-toggle="tab"><span><i class="icon-target"></i></span></a></li>
                    <li class="nav"><a href="#tab6_sec4" data-toggle="tab"><span><i class="icon-camera"></i></span></a></li>
                    <li class="nav"><a href="#tab6_sec5" data-toggle="tab"><span><i class="icon-hotairballoon"></i></span></a></li>
                </ul>
                <!-- end tab navigation -->
                <!-- tab content section -->
                <div class="tab-content">
                    <!-- tab content -->
                    <div id="tab6_sec1" class="col-md-9 col-sm-8 tab-pane fade in active"> 
                        <div class="tab-pane fade in"> 
                            <div class="row"> 
                            <div class="col-md-12 col-sm-8 no-padding">

                                <p>We enable real-time eligibility verification at admission, give clinicians and physicians secure access to patients’ clinical information via their Web portals and make it more feasible for health plans and providers to consolidate and analyze large amounts of data to speed research, improve care and reduce costs. We also help deliver the best care to patients by providing interactive solutions where the clinics are more efficient in handling patients through easily calling up medical histories and prompting treatment as soon as it is needed.</p>
                                </div>
                            </div>
                            <div class="row"> 
                                <div class="wide-separator-line"></div>
                            </div>
                            <div class="row">
                                <div class="col-md-12 col-sm-12 text-center service-year black-text">
                                    <strong>1999 to 2014</strong> - Graphic Design Experience
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- end tab content -->
                    <!-- tab content -->
                    <div id="tab6_sec2" class="col-md-9 col-sm-12 text-center center-col tab-pane fade in"> 
                        <div class="tab-pane fade in"> 
                            <div class="row"> 
                                <div class="col-md-6 col-sm-12 text-left gray-text">
                                    <h5>Web Design</h5>
                                    <div class="separator-line bg-yellow no-margin-lr sm-margin-five"></div>
                                    <p class="text-large margin-five margin-right-ten">Every website we design is bespoke, fuelled with years of industry experience. Proudly designed in the World.</p>
                                </div>
                                <div class="col-md-6 col-sm-12 text-left text-med gray-text">
                                    <p class="text-uppercase">Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
                                    <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the standard dummy text. Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
                                </div>
                            </div>
                            <div class="row"> 
                                <div class="wide-separator-line"></div>
                            </div>
                            <div class="row">
                                <div class="col-md-12 col-sm-12 text-center service-year black-text">
                                    <strong>1995 to 2014</strong> - Web Design Experience
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- end tab content -->
                    <!-- tab content -->
                    <div id="tab6_sec3" class="col-md-9 col-sm-12 text-center center-col tab-pane fade in"> 
                        <div class="tab-pane fade in"> 
                            <div class="row"> 
                                <div class="col-md-6 col-sm-12 text-left gray-text">
                                    <h5>Branding</h5>
                                    <div class="separator-line bg-yellow no-margin-lr sm-margin-five"></div>
                                    <p class="text-large margin-five margin-right-ten">We create meaningful experiences through innovation in storytelling, technology, entertainment and products.</p>
                                </div>
                                <div class="col-md-6 col-sm-12 text-left text-med gray-text">
                                    <p class="text-uppercase">Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
                                    <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the standard dummy text. Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
                                </div>
                            </div>
                            <div class="row"> 
                                <div class="wide-separator-line"></div>
                            </div>
                            <div class="row">
                                <div class="col-md-12 col-sm-12 text-center service-year black-text">
                                    <strong>1997 to 2014</strong> - Branding
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- end tab content -->
                    <!-- tab content -->
                    <div id="tab6_sec4" class="col-md-9 col-sm-12 text-center center-col tab-pane fade in"> 
                        <div class="tab-pane fade in"> 
                            <div class="row"> 
                                <div class="col-md-6 col-sm-12 text-left gray-text">
                                    <h5>Photography</h5>
                                    <div class="separator-line bg-yellow no-margin-lr sm-margin-five"></div>
                                    <p class="text-large margin-five margin-right-ten">A first impression can make or break you. we can help you find the precise message to clearly.</p>
                                </div>
                                <div class="col-md-6 col-sm-12 text-left text-med gray-text">
                                    <p class="text-uppercase">Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
                                    <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the standard dummy text. Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
                                </div>
                            </div>
                            <div class="row"> 
                                <div class="wide-separator-line"></div>
                            </div>
                            <div class="row">
                                <div class="col-md-12 col-sm-12 text-center service-year black-text">
                                    <strong>1999 to 2014</strong> - Photography
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- end tab content -->
                    <!-- tab content -->
                    <div id="tab6_sec5" class="col-md-9 col-sm-12 text-center center-col tab-pane fade in"> 
                        <div class="tab-pane fade in"> 
                            <div class="row"> 
                                <div class="col-md-6 col-sm-12 text-left gray-text">
                                    <h5>Social Marketing</h5>
                                    <div class="separator-line bg-yellow no-margin-lr sm-margin-five"></div>
                                    <p class="text-large margin-five margin-right-ten">We believe in the power of design, the strength of strategy, and the ability of technology to transform businesses and lives.</p>
                                </div>
                                <div class="col-md-6 col-sm-12 text-left text-med gray-text">
                                    <p class="text-uppercase">Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
                                    <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the standard dummy text. Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
                                </div>
                            </div>
                            <div class="row"> 
                                <div class="wide-separator-line"></div>
                            </div>
                            <div class="row">
                                <div class="col-md-12 col-sm-12 text-center service-year black-text">
                                    <strong>2000 to 2014</strong> - Social Marketing
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- end tab content -->
                </div>
                <!-- end tab content section -->
            </div>
            <!-- end tab -->
        </div>
    </div>
</section>
                    </div>
                </div>
            </div>
            <!-- end content  -->
        </div>
    </div>
</section>
<!-- end content section -->