<!-- head section -->
<section class="content-top-margin page-title page-title-small border-top-light">
    <div class="container">
        <div class="row">
            <div class="col-md-8 col-sm-12 wow fadeInUp" data-wow-duration="300ms">
                <!-- page title -->
                <h1 class="black-text">Contact Us</h1>
                <!-- end page title -->
            </div>
        </div>
    </div>
</section>
<!-- end head section -->

<!-- content section -->
<section class="wow fadeIn no-padding">
    <div class="container-fuild">
        <div class="row no-margin">
            <div id="canvas1" class="col-md-12 col-sm-12 no-padding contact-map map">
                <iframe id="map_canvas1" src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d3964.531787990854!2d3.4033048!3d6.4540949!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0x3cffdb0a47b25dab!2sSura+Shopping+Complex!5e0!3m2!1sen!2s!4v1437333321166" width="600" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>
                
            </div>
        </div>
    </div>
</section>

<section id="contact-form">
    <div class="container">
        <div class="row">
            <div class="col-md-4 col-sm-6">
                <p class="text-med text-uppercase letter-spacing-1 black-text font-weight-600">Contact Form</p>
                <p class="text-med">Do you have any enquiries?</p>
                <p class="text-med">At Intaccess Conultants, we take pride in customer satisfaction. Send us a message, we'd do our best to send you feedback as quickly as possible.</p>
            </div>
            <div class="col-md-6 col-sm-6  col-md-offset-2">
                <form id="contactusform" action="javascript:void(0)" method="post">
                    <div id="success" class="no-margin-lr"></div>
                    <input name="name" type="text" placeholder="Your Name" />
                    <input name="email" type="text" placeholder="Your Email"  />
                    <textarea placeholder="Your Message" name="comment"></textarea>
                    <button id="contact-us-button" type="submit" class="highlight-button-dark btn btn-small button xs-margin-bottom-five">Send message</button>
                </form>
            </div>
        </div>
    </div>
</section>

<!-- end content section -->