<!-- head section -->
<section class="content-top-margin page-title parallax3 parallax-fix">
    <div class="opacity-medium bg-black"></div>
    <img class="parallax-background-img" src="images/backgroundheader_crm.jpg"  alt=""/>
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-md-7 col-sm-12 wow fadeInUp" data-wow-duration="300ms">
                <!-- page title -->
                <h1 class="white-text">Customer Relationship Management</h1>
                <!-- end page title -->
                <!-- page title tagline -->
                <span class="text-uppercase white-text xs-display-none">Providing excellent Customer Service </span>
                <!-- end title tagline -->
            </div>
            <div class="col-lg-4 col-md-5 col-sm-12 breadcrumb text-uppercase wow fadeInUp xs-display-none" data-wow-duration="600ms">
                
          </div>
        </div>
    </div>
</section>
<!-- end head section -->

<!-- content section -->
<section class="wow fadeIn">
    <div class="container">
        <div class="row">
            <!-- content  -->
            <div class="col-md-6 col-sm-12 sm-margin-bottom-four">
                <img src="images/crm.jpg" alt=""/>
            </div>
            <div class="col-md-6 col-sm-12">
                <p class="text-large font-weight-600 text-black margin-three no-margin-top">CUSTOMER RELATIONSHIP MANAGEMENT</p>
                <p class="text-large text-black margin-three no-margin-top">'A company's reputation is only as good as the customer service it provides.'</p>
                <p class="text-med">The experience that individuals have with a company and then what they hear from friends and family influence their perception of and likelihood to do business with a company. At Intaccess we make it our priority to see that our customers come first. In satisfying our customer, we put in mind that they are the reason why we are in market, to stay in market it is therefore expedient that  we  keep them by giving them not just what they want but what is good for them.</p>
                <p class="text-med">To guarantee quality customer relation we hold strongly on our values for meeting their needs. </p>
            </div>
            <!-- end content  -->
        </div>
        <div class="wide-separator-line no-margin-lr"></div>
        <div class="row margin-five">
            <!-- content  -->
            <div class="col-md-6 col-sm-6 xs-margin-bottom-five">
              <p class="text-large font-weight-600 text-black margin-three no-margin-top">PROVIDING QUALITY</p>
                <p class="text-med no-margin">As a leading provider in customer care outsourcing solutions, we relate a branded approach to quality. Our approach ensures that quality standards are being applied correctly throughout our contact centers. We rely on you to set the direction and definition of success, as well as offer us with the standards desirable to meet your business objectives. How we get there is what we’re all about.</p>
                <p class="text-med">
                        Intaccess products and Professional Services can help your organization
                        </p>
                        <ul class="flat-list text-med">
                        <li>Keep in touch and put into operation your quality standards to our team.</li>
                        <li>Carry out Analysis and appraise against those standards with users in different roles to create a consistent picture of the results.</li> 
                        <li>Formulate modifications and updates</li>
                        <li>Retest and re-evaluate.</li> 
                        </ul>
          </div>
            <div class="col-md-6 col-sm-6">
                <p class="text-large font-weight-600 text-black margin-three no-margin-top">MEASURING SUCCESS</p>
                <p class="text-med no-margin">We enjoy a commitment to dedicated excellence, as well as obtaining precise, reliable data to use as our baseline for evaluating our hard work. Complementing your quality objectives, we control our own quality analysts, team leaders and a quality team infrastructure to compel results. We use a mix of different roles to confirm quality standards are correctly communicated, applied and implemented.</p> <br>
                <p class="text-med no-margin">Every quality analyst and team lead must go through a certification process before they can score calls and give advice to representatives and leaders. Even afterwards, they remain continuously scrutinized by weekly, extreme calibration requirements that enable us to maintain world-class accuracy levels. Leaders and analysts often perform evaluations concurrently as prove and balance to ensure uniformity of results. </p>
            </div>
            <!-- end content  -->
        </div>
        
        <div class="row margin-five">
            <!-- content  -->
            <div class="col-md-6 col-sm-6 xs-margin-bottom-five">
              <p class="text-large font-weight-600 text-black margin-three no-margin-top">Using Quality Assurance to Add Value</p>
                <p class="text-med no-margin">Our bottom-line objective in implementing quality standards and processes is to strengthen the customer experience. This improves our customer service representatives’ performance, which aids in our ability to positively impact your bottom line, develop your business and drive ongoing results. </p> <br>
                <p class="text-med no-margin"> In the cause of this quality assurance process, we get to know your business sometimes better than you do. We’re proactive in regards to your success. When we see opportunities within your product and service offerings, we put ourselves in a position to make recommendations based upon our industry experience. Everything then comes back full circle to incessantly improving quality should any recommendations be implemented. </p> <br>
                <p class="text-med no-margin"> We share our highly developed use of technology, data analysis and statistical analysis with each client, enabling you to obtain higher degrees of precision and compliance. In addition, we merge this effort with methodical process improvement methods from proprietary techniques through the use of Six Sigma.</p>
                        
          </div>
            <div class="col-md-6 col-sm-6">
                <p class="text-large font-weight-600 text-black margin-three no-margin-top">THE INTACCESS DIFFERENCE </p>
                <p class="text-med no-margin">What differentiates INTACCESS is the success we’ve achieve for our clients. Our well-disciplined approach and process to satisfaction, your customers and associates experience a seamless evolution tailored to achieving your business goals. At the same time, your business begins to enjoy cost savings and renewed performance improvements.</p> <br>
                <p class="text-med no-margin">We start by conducting a comprehensive work plan built around due diligence and communication. This work plan enables us to minimize impact by better understanding your current environment, as well as digest your culture and best practices. </p> <br>
                <p class="text-med no-margin">An on-site team of experts in all functional areas work “shoulder to shoulder” with you beginning to end. Our experts engage in data gathering, detailed HR mapping, collaborative governance, gap analysis and other aspects of our proven methodology. </p>
                
            </div>
            <!-- end content  -->
        </div>
                        
    </div>
</section>
<!-- end content section -->