Whether you need training for one or one thousand, classes are designed to fit your needs. With our full set of education services, you can anticipate faster user adoption and efficiency, resulting in accelerated ROI. Highlights of our education solutions:</p>
                                <ul class="flat-list text-med">
                                <li>An Educational portal solution for the day to day running of academic activities. (Registration, Finance online Fee payment and records, Result publishing, parental access and grade monitoring and many other features).</li>
                                <li>Show any screen in real-time to all students from anywhere in the world with or without an internet connection.</li> 
                                <li>Accelerate innovation and research</li>
                                <li>Maintain better control of each student.</li> 
                                <li>Deliver hands-on experience to your students with new and better teaching and learning experiences</li>
                                <li>Make voice conferences, lectures, discussions - with a variety of options</li>
                                <li>Avoid expensive investments in extra hardware needed by other remote administration tools</li>
                                <br>
                                 
                                
                                </ul>
                                <div class="clearfix">
                            <div class="col-md-6 col-sm-12 no-padding-left sm-no-padding">
                                <img src="http://i.imgur.com/xpf2ftH.jpg" alt=""/><br><br>
                                <p class="text-large text-black">Data  security.</p>
                              <div class="wide-separator-line no-margin-lr"></div>
                                <p class="text-med no-margin-bottom sm-margin-bottom-seven">In any educational environment, there is a certain level of attendance to be met, in order for the students to receive grades. At the same time, students are widely recognized for their innovative ideas on how to cheat the system and falsely increase their attendance levels. Using Intaccess identification systems, the chance of fraud is eliminated, as student attendance is verified by their unique biological parameters. Additionally, using biometric identification solutions, your data security levels will reach greater heights.</p>
                            </div>
                            <div class="col-md-6 col-sm-12 no-padding-right sm-no-padding">
                                <img src="http://i.imgur.com/6huO7p9.jpg" alt=""/><br><br>
                                <p class="text-large text-black">INTACCESS TIME</p>
                                <div class="wide-separator-line no-margin-lr"></div>
                                <p class="text-med no-margin-bottom">IntaccessTime allows you to easily monitor student attendance with the help of biometric identification methods. Using unique body parameters, the system is able to instantly and unmistakably verify the identity of students, dismissing the chance of fake registration of attendance. This is also applied for examination purposes as students are granted access into the access hall only when that have been verified using the IntaccessTime device. This way only student verified are allowed to take the exam.</p>
                            </div>
                        </div>

                               <div class="clearfix">
                            <div class="col-md-6 col-sm-12 no-padding-left sm-no-padding">
                                <img src="http://i.imgur.com/muabO83.jpg" alt=""/><br><br>
                                <p class="text-large text-black">Intaccess Education Portal</p>
                                <div class="wide-separator-line no-margin-lr"></div>
                                <p class="text-med no-margin-bottom sm-margin-bottom-seven">An interactive portal(the education portal) serves as a student’s information system where student activities are recorded. This includes subjects taken, subjects grades, teachers comments, school fees payment and the schools notice board. Whatever feature the school needs can be achieved with our education portal technology.</p>
                                
                            </div>
                            <div class="col-md-6 col-sm-12 no-padding-right sm-no-padding">
                                <img src="http://i.imgur.com/18q0ikH.jpg" alt=""/><br><br>
                                <p class="text-large text-black">eLearning for Secondary Schools</p>
                                <div class="wide-separator-line no-margin-lr"></div>
                                <p class="text-med no-margin-bottom">Electronic Learning brings more life into learning. For the young ones, it enhances their educational experience. It involves digitizing the curriculum, introducing new topics of interest to the platform, gamifying the subjects to attract and develop inept interest, etc. The beauty of this is that a lot of kids have been exposed to technology. We aim not to discourage them from using these technologies, but to encourage them to use it the right way.</p>
                            </div>
                        </div>
                                
            
                            </div>
                            
                        </div>
                        
	
                    </div>
                    <!-- end content  -->
                </div>
            </div>
        </section>
        <!-- end content section -->
