<!-- head section -->
<section class="content-top-margin page-title bg-black">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-md-7 col-sm-12 wow fadeInUp" data-wow-duration="300ms">
                <!-- page title -->
                <h1 class="white-text">Our Services</h1>
                <!-- end page title -->
                <!-- page title tagline -->
                <span class="text-uppercase white-text xs-display-none">The Intaccess Proficiency</span>
                <!-- end title tagline -->
            </div>
            <div class="col-lg-4 col-md-5 col-sm-12 breadcrumb text-uppercase wow fadeInUp xs-display-none" data-wow-duration="600ms">
                <div class="separator-line bg-white no-margin-lr sm-margin-top-two sm-margin-bottom-three no-margin-top xs-display-none"></div>
                <!-- breadcrumb -->
                <ul>
                    <li><a href="#" class="white-text">Home</a></li>
                    <li class="white-text">Our Services</li>
                </ul>
                <!-- end breadcrumb -->
            </div>
        </div>
    </div>
</section>
<!-- end head section -->

<!-- content section -->
<section class="wow fadeIn">
    <div class="container">
        <div class="row">
            <!-- sidebar  -->
            <div class="col-md-3 col-sm-4 sidebar">
                <!-- widget  -->
                <div class="widget">
                    <h5 class="widget-title font-alt">More About Company</h5>
                    <div class="thin-separator-line bg-dark-gray no-margin-lr"></div>
                    <div class="widget-body">
                        <ul class="category-list">
                            <li><a href="services.html">eHealth</a></li>
                            <li><a href="services.html">eGovernment</a></li>
                            <li><a href="services.html">eEducation</a></li>
                            <li><a href="services.html">eSecurity</a></li>
                            <li><a href="services.html">eRetail consultancy </a></li>
                            <li><a href="services.html">eBusiness solutions/IT</a></li>
                        </ul>
                    </div>
                </div>
                <!-- end widget  -->
                 
                <!-- widget  -->
                <div class="widget no-margin-bottom">
                    <h5 class="widget-title font-alt">Text Widget</h5>
                    <div class="thin-separator-line bg-dark-gray no-margin-lr"></div>
                    <div class="widget-body">
                        <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s.</p>
                    </div>
                </div>
                <!-- end widget  -->
            </div>
            <!-- end sidebar  -->
            <!-- content  -->
            <div class="col-md-8 col-sm-8 col-md-offset-1 xs-margin-top-seven">
          
                <div class="clearfix">
                    <div class="col-md-12 col-sm-12 no-padding">
                        <p class="text-large text-black margin-five">Ensuring service availability </p>
                        <div class="wide-separator-line no-margin-lr"></div>
                        <p class="text-med no-margin-bottom">The continuous availability and reliability of network-provided services is crucial to the success of government programs. If the consistency of the underlying network infrastructure is not maintained, those services become unreachable and unavailable. Enterprise Management Associates states that between 60 and 80 percent of service-affecting network outages are caused by change, and government organizations must control how change happens in the network and develop efficient ways to roll out changes so that service availability is not impacted. </p>
                        <p>
                        <p class="text-large text-black margin-five">Change Management mentality to push for acceptance </p>
                        <p class="text-med no-margin-bottom">In order to drive acceptance, change management is key in delivering Government projects especially in IT. This means changing civil servants mentality to accept moving from paper and pen to moving to Computers to solve daily complex and simple problems so that these issues have records and are logged efficiently. Also this means that civil servants can be easily monitored to see those who are efficient with work and those who just lag behind.</p>
                        
                       <div class="container">
        <div class="row">
            <div class="col-md-8 col-sm-8">
            
                <!-- toggle -->
                <div class="panel-group toggles-style2">
                
                    <!-- toggle item 1 -->
                    
                    <div class="panel panel-default" id="collapse-two">
                        <div role="tablist" id="type2-headingOne" class="panel-heading">
                            <a data-toggle="collapse" data-parent="#collapse-two" href="#collapse-two-link1"><h4 class="panel-title">Ensuring IT operational efficiency <span class="pull-right"><i class="fa fa-angle-down"></i></span></h4></a>
                        </div>
                        <div id="collapse-two-link1" class="panel-collapse collapse">
                            <div class="panel-body">
                                Government institutions live on rigid budgets. Automation helps the institutions to spread out their operational costs as work that should have been done monotonously can be done under minutes and efficiently thereby allowing for workers to move on to the next project. This drive would be made possible after change management has occurred.
                            </div>
                        </div>
                    </div>
                    <!-- end toggle item 1-->
                    
                    <!--toggle item 2-->
                    <div class="panel panel-default">
                        <div role="tablist" id="type2-headingTwo" class="panel-heading">
                            <a data-toggle="collapse" data-parent="#collapse-two" href="#collapse-two-link2"><h4 class="panel-title">Data management <span class="pull-right"><i class="fa fa-angle-down"></i></span></h4></a>
                        </div>
                        <div id="collapse-two-link2" class="panel-collapse collapse">
                          <div class="panel-body">
                          IT departments in state enterprises face many technical challenges which need to be resolved in a geographically spread structure. PCs used by government staff require constant support and maintenance. Effective measures to avoid network failure is been taken as Intaccess Network (INet) is installed on an employee’s computer, this allows an IT-specialist to connect remotely and repair any malfunction instantaneously.
The advantages of this include: <br>
                                
                                <ul class="flat-list">
                        <li>Employee downtime is cut</li>
                        <li>Productivity among civil servants and IT specialists dramatically increases.</li> 
                        <li>IT staff can remotely teach civil servants to work with complex software.</li>
                        <li>The efficiency of information exchange between different departments and branches of government institutions increases.</li>
                        <p>We enable real-time eligibility verification at admission, give clinicians and physicians secure access to patients’ clinical information via their Web portals and make it more feasible for health plans and providers to consolidate and analyze large amounts of data to speed research, improve care and reduce costs. We also help deliver the best care to patients by providing interactive solutions where the clinics are more efficient in handling patients through easily calling up medical histories and prompting treatment as soon as it is needed.</p>

                        </ul>
                               </div>
                        </div>
                    </div>
                    <!--end toggle item 2-->
                    
                    <!--toggle item 3 -->
                    
                    <!--end toggle item 3 -->
                    
                </div>
                <!-- end toggle -->
            </div>
        </div>
    </div>

                        
 
                    </div>
                    
                </div>
                

            </div>
            <!-- end content  -->
        </div>
    </div>
</section>
<!-- end content section -->