<!-- head section -->
<section class="content-top-margin page-title parallax3 parallax-fix">
    <div class="opacity-medium bg-black"></div>
    <img class="parallax-background-img" src="images/background_eHealth.jpg"  alt=""/>
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-md-7 col-sm-12 wow fadeInUp" data-wow-duration="300ms">
                <!-- page title -->
                <h1 class="white-text">e-Health</h1>
                <!-- end page title -->
                <!-- page title tagline -->
                <span class="text-uppercase white-text xs-display-none">OPTIMIZED SOLUTIONS FOR HEALTHCARE</span>
                <!-- end title tagline -->
            </div>
            <div class="col-lg-4 col-md-5 col-sm-12 breadcrumb text-uppercase wow fadeInUp xs-display-none" data-wow-duration="600ms">
                <div class="separator-line bg-white no-margin-lr sm-margin-top-two sm-margin-bottom-three no-margin-top xs-display-none"></div>
                <!-- breadcrumb -->
                <ul>
                    <li><a href="#" class="white-text">Home</a></li>
                    <li class="white-text"><a href="#" class="white-text">Our Competencies</a></li>
                    <li class="white-text">e-Health</li>
                </ul>
                <!-- end breadcrumb -->
            </div>
        </div>
    </div>
</section>
<!-- end head section -->

<!-- content section -->
<section class="wow fadeIn">
    <div class="container">
        <div class="row">
            <!-- sidebar  -->
            <div class="col-md-3 col-sm-4 sidebar">
                <!-- widget  -->
                <div class="widget">
                    <h5 class="widget-title font-alt">More About Company</h5>
                    <div class="thin-separator-line bg-dark-gray no-margin-lr"></div>
                    <div class="widget-body">
                        <ul class="category-list">
                            <li><a href="#">eHealth</a></li>
                            <li><a href="E-GOVERNMENT.html">eGovernment</a></li>
                            <li><a href="E-EDUCATION.html">eEducation</a></li>
                            <li><a href="#">eSecurity</a></li>
                            <li><a href="#">eRetail consultancy </a></li>
                            <li><a href="#">eBusiness solutions/IT</a></li>
                        </ul>
                    </div>
                </div>
                <!-- end widget  -->
                 
                <!-- widget  -->
                <div class="widget no-margin-bottom">
                    <h5 class="widget-title font-alt">Text Widget</h5>
                    <div class="thin-separator-line bg-dark-gray no-margin-lr"></div>
                    <div class="widget-body">
                        <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s.</p>
                    </div>
                </div>
                <!-- end widget  -->
            </div>
            <!-- end sidebar  -->
            <!-- content  -->
            <div class="col-md-8 col-sm-8 col-md-offset-1 xs-margin-top-seven">
          
                <div class="clearfix">
                    <div class="col-md-12 col-sm-12 no-padding">
                        <p class="text-med no-margin-bottom">Healthcare organizations are under heavy pressure to be more efficient, control escalating healthcare costs, reduce the ranks of the uninsured, improve quality of care and support innovative clinical research. Meaningful improvements in healthcare efficiency and quality will rely heavily on technologies that can improve the flow, integration and interpretation of data across the continuum of care. </p>
                        <p class="text-med">
                        Intaccess products and Professional Services can help your organization
                        </p>
                        <ul class="flat-list text-med">
                        <li>Mobilize information from patient registration to the point of care</li>
                        <li>Securely access clinical data</li> 
                        <li>Accelerate innovation and research</li>
                        <li>Generate patient medical history without having to dig out old files and books</li> 
                        <li>Quickly identify health patterns from breakouts in a particular period</li>
                        <br>
                         
                        <p class="text-med">We enable real-time eligibility verification at admission, give clinicians and physicians secure access to patients’ clinical information via their Web portals and make it more feasible for health plans and providers to consolidate and analyze large amounts of data to speed research, improve care and reduce costs. We also help deliver the best care to patients by providing interactive solutions where the clinics are more efficient in handling patients through easily calling up medical histories and prompting treatment as soon as it is needed.</p>
                        </ul>

                       
                        
    <div class="container">
        <div class="row">
            <div class="col-md-8 col-sm-8">
                <!-- toggle -->
                <div class="panel-group toggles-style2">
                    <!-- toggle item -->
                    <div class="panel panel-default" id="collapse-two">
                        <div role="tablist" id="type2-headingOne" class="panel-heading">
                            <a data-toggle="collapse" data-parent="#collapse-two" href="#collapse-two-link1"><h4 class="panel-title">Data security in Healthcare<span class="pull-right"><i class="fa fa-angle-down"></i></span></h4></a>
                        </div>
                        <div id="collapse-two-link1" class="panel-collapse collapse">
                            <div class="panel-body">
                                As a healthcare organization, you are confronted with staggering volumes of PHI, PII, and other sensitive data. The aggressive push towards electronic records management, combined with patient information privacy laws, has placed your IT infrastructure under enormous pressure. You need a flexible solution that can handle the vast amount of data, while offering federally-compliant strong security you can depend on.
                            </div>
                        </div>
                    </div>
                    <!-- end toggle item -->
                    <!-- toggle item -->
                    <div class="panel panel-default">
                        <div role="tablist" id="type2-headingTwo" class="panel-heading">
                            <a data-toggle="collapse" data-parent="#collapse-two" href="#collapse-two-link2"><h4 class="panel-title">Increasing margins through IT operational efficiency <span class="pull-right"><i class="fa fa-angle-down"></i></span></h4></a>
                        </div>
                        <div id="collapse-two-link2" class="panel-collapse collapse">
                          <div class="panel-body">
                                Health care organizations survive and live, as nearly every other business do, on the margin between the cost of providing a service and what can logically be charged for it. Automation provided by Network Configuration Managers reduces the time spent on network configuration tasks from minutes per device to minutes per network, so commonly executed task such as credential rolls, ACL updates and OS updates can be done in a fraction of the time manual processes take. This mean the same staff can be leveraged over many more devices without growth in headcount, accelerating the availability of new services. <br>
                                Our healthcare solutions include: <br>
                                <strong>Health Services Portal:</strong> The health services Portal is the central database for the Hospitals records. The Portal can incorporate CRMs and ERP to help operational efficiency. Also the portal has an eFiling system that helps to file medical records and hospital histories. The solution has the compatibility to run on cloud or in house servers as needed by the hospitals<br>
                            <strong> Medical Tracking Systems:</strong> Our medical tracking system allows for interactions to take place between the Doctors, Nurses, Patients and the Health Services Portal. The system makes uses of radio frequency identification cards and tags that are used for patient registration, medical history and treatments. The treatment monitor feature prompts Doctors and Nurses when a patient’s next treatment is due, when the patient needs to come for another treatment, when the patient is to get surgery and other features as described by the hospital. This solution is fully customizable according to hospital needs. </div>
                        </div>
                    </div>
                    <!-- end toggle item -->
                    
                </div>
                <!-- end toggle -->
            </div>
        </div>
    </div>
                    </div>
                    
                </div>
                

            </div>
            <!-- end content  -->
        </div>
    </div>
</section>
<!-- end content section -->