<!-- slider section -->
<section id="slider" class="no-padding"> 
    <div id="owl-demo" class="owl-carousel owl-theme owl-half-slider dark-pagination">
        <div class="item owl-bg-img"> 
        <!-- background-image: image-url("logo.png") -->
            <div class="container position-relative">
                <div class="slider-typography text-left">
                    <div class="slider-text-middle-main">
                        <div class="slider-text-middle padding-left-right-px animated fadeInUp">
                            <span class="owl-subtitle black-text margin-three no-margin-top xs-margin-bottom-six">INTACCESS CONSULTANTS</span>
                            <span class="owl-title black-text">We are professional management & IT consultants.</span>
                            <a class="highlight-button-black-border btn btn-small" href="about-intacees.html">Read More</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
<!--         <div class="item owl-bg-img" style="background-image:url(images/background_04.jpg);">
            <div class="container position-relative">
                <div class="slider-typography text-left">
                    <div class="slider-text-middle-main">
                        <div class="slider-text-middle padding-left-right-px">
                            <span class="owl-subtitle black-text margin-three no-margin-top xs-margin-bottom-six">INTACCESS CONSULTANTS</span>
                            <span class="owl-title black-text">We believe in processes, strategy and proper implementation</span>
                            <a class="highlight-button-black-border btn btn-small" href="about-intacess.html">Read More</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="item owl-bg-img" style="background-image:url(images/background_03.jpg);">
            <div class="container position-relative">
                <div class="slider-typography text-left">
                    <div class="slider-text-middle-main">
                        <div class="slider-text-middle padding-left-right-px">
                            <span class="owl-subtitle black-text margin-three no-margin-top xs-margin-bottom-six">INTACCESS CONSULTANTS</span>
                            <span class="owl-title black-text">We create meaningful solutions through innovation</span>
                            <a class="highlight-button-black-border btn btn-small" href="about-intaccess.html">Read More</a>
                        </div>
                    </div>
                </div>
            </div>
        </div> -->
    </div>
</section>
<!-- end slider section -->

<!-- feature box section -->
<section class="no-padding">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-4 col-sm-12 col-xs-12 no-padding bg-yellow-ochre sm-text-center">
                <div class="no-padding-bottom reasons">
                    <span class="white-text slider-title-big2">01,<span>Something</span></span>
                    <p class="white-text">Something</p>
                    <img src="http://placehold.it/308x264" alt="" />
                </div>
            </div>
            <div class="col-md-4 col-sm-12 col-xs-12 no-padding bg-orange sm-text-center">
                <div class="no-padding-bottom reasons">
                    <span class="white-text slider-title-big2">02,<span>Something</span></span>
                    <p class="white-text">Something</p>
                    <img src="http://placehold.it/308x264" alt="" />
                </div>
            </div>
            <div class="col-md-4 col-sm-12 col-xs-12 no-padding bg-deep-brown sm-text-center">
                <div class="no-padding-bottom reasons">
                    <span class="white-text slider-title-big2">03,<span>Something</span></span>
                    <p class="white-text">Something</p>
                    <img src="http://placehold.it/308x264" alt="" />
                </div>
            </div>
        </div>
    </div>
</section>
<!-- end feature box section -->

<!-- about section -->
<section class="no-padding-bottom">
    <div class="container">
        <div class="row">
            <blockquote>
                    <p>Intaccess Consultants Ltd is a management consulting firm majoring on management consultancy and project management using the methodologies ascribed to best practice; in the implementation of projects for organization seeking for automated ways of getting result. We offer an array of business and management consulting services to government and corporate organizations seeking superiority in all they do. </p>
          </blockquote> <br> <br>
        </div>
    </div>
    
    <!-- features section -->
    <div class="container">
        
            <div class="col-md-4 col-sm-12">
                <!-- features item -->
                <div class="features-section col-md-12 col-sm-6 no-padding wow fadeInUp">
                    <div class="col-md-3 col-sm-2 col-xs-2 no-padding">
                    <i class="icon-shield medium-icon"></i>
                    </div>
                    <div class="col-md-9 col-sm-9 col-xs-9 no-padding text-left f-right">
                        <h5>E-HEALTH</h5>
                        <div class="separator-line bg-dark-blue"></div>
                        
                    </div>
                </div>
                <!-- end features item -->
                <!-- features item -->
                <div class="features-section no-margin col-md-12 col-sm-6 no-padding wow fadeInUp">
                    <div class="col-md-3 col-sm-2 col-xs-2 no-padding">
                    <i class="icon-globe medium-icon"></i>

                    </div>
                    <div class="col-md-9 col-sm-9 col-xs-9 no-padding text-left f-right">
                        <h5>E-GOVERNMENT</h5>
                        <div class="separator-line bg-dark-blue"></div>
                        
                    </div>
                </div>
                <!-- end features item -->
            </div>
            <div class="col-md-4 col-sm-12">
                <!-- features item -->
                <div class="features-section col-md-12 col-sm-6 no-padding wow fadeInUp">
                    <div class="col-md-3 col-sm-2 col-xs-2 no-padding"><i class="icon-pencil medium-icon"></i></div>
                    <div class="col-md-9 col-sm-9 col-xs-9 no-padding text-left f-right">
                        <h5>E-EDUCATION</h5>
                        <div class="separator-line bg-dark-blue"></div>
                        
                    </div>
                </div>
                <!-- end features item -->
                <!-- features item -->
                <div class="features-section col-md-12 col-sm-6 no-padding wow fadeInUp">
                    <div class="col-md-3 col-sm-2 col-xs-2 no-padding"><i class="icon-key medium-icon"></i></div>
                    <div class="col-md-9 col-sm-9 col-xs-9 no-padding text-left f-right">
                        <h5>E-SECURITY</h5>
                        <div class="separator-line bg-dark-blue"></div>
                        
                    </div>
                </div>
                <!-- end features item -->
            </div>
            <div class="col-md-4 col-sm-12">
                <!-- features item -->
                <div class="features-section col-md-12 col-sm-6 no-padding wow fadeInUp">
                    <div class="col-md-3 col-sm-2 col-xs-2 no-padding"><i class="icon-basket medium-icon"></i></div>
                    <div class="col-md-9 col-sm-9 col-xs-9 no-padding text-left f-right">
                        <h5>E-RETAIL CONSULTANCY </h5>
                        <div class="separator-line bg-dark-blue"></div>
                        
                    </div>
                </div>
                <!-- end features item -->
                <!-- features item -->
                <div class="features-section col-md-12 col-sm-6 no-padding wow fadeInUp">
                    <div class="col-md-3 col-sm-2 col-xs-2 no-padding"><i class="icon-wallet medium-icon"></i></div>
                    <div class="col-md-9 col-sm-9 col-xs-9 no-padding text-left f-right">
                        <h5>e-Business solutions/IT</h5>
                        <div class="separator-line bg-dark-blue"></div>
                        
                    </div>
                </div>
                <!-- end features item -->
            </div>
            
    </div>
<!-- end features section -->
    
    
</section>
<!-- end about section